body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.portfolio_page {
    overflow: auto;
}

.contact_page {
    margin-bottom: 0%;
}

header {
    color: white;
    background-color: #4aaaa5; 
    padding: 2%;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 30px;
    position: absolute;
    margin-left: 15%;
    margin-bottom: 0%;
}

h1, h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.teal_font {
    color: #4aaaa5;
    border-bottom: 5px solid grey;
    padding-bottom: 3%;
}

nav {
    background-color: #ffffff;
    padding-top: 3.1%;
    padding-bottom: 3.1%;
    box-shadow: 0px 3px 5px 2px grey;
    margin-bottom: .3%;
}

a {
    color: grey;
    text-decoration: none;
}

/*Combine these things as much as possible, and add some hover state stuff!*/

.navbuttona, .navbuttonb, .navbuttonc {
    float: right;
}

.navbuttona:hover, .navbuttonb:hover, .navbuttonc:hover {
    color: #4aaaa5;
}

.navbuttona, .navbuttonb {
    padding-right: 1%;
}

.navbuttonb, .navbuttonc {
    padding-left: 1%;
}
.navbuttonb {
    border-left: 2px solid grey;
    border-right: 2px solid grey;
}

.navbuttonc {
    padding-right: 16%;
}

.professional_photo {
    float: left;
    margin-top: .7%;
    margin-right: 2%;
}

/*Height 100% can cause background issues when page is scrollable*/

.primary_background {
    background-image: url(../images/old-paper-with-partial-paisly-design.jpg);
    background-size: cover;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 0%;
}

.primary_content_index, .primary_content_contact, .primary_content_portfolio {
    background-color: #ffffff;
    margin: 1% 15% 1% 15%;
    padding: 2.5% 2.5% 2% 2.5%;
    border-color: #dddddd;
    border-style: solid;
}

.primary_content_index {
    padding: 2.5% 2.5% 1.3% 2.5%;
}

/*make portfolio section different due to very different looks*/
.primary_content_portfolio {
    display: inline-block;
    width: 64%;
}

.primary_content_contact {
    padding: 2.5% 2.5% 2% 2.5%;
}

.links_on_left {
    float: left;
}

.links_on_right {
    float: right;
    padding-right: 30%;
}

/*A nice little opacity effect when hovering*/
.hangman, .rpg_game, .trivia_game, .rutgers_info_widget, .rock_paper_scissors {
    margin-top: .7%;
    padding-bottom: 10%;
    opacity: .5;
}

.hangman:hover, .rpg_game:hover, .trivia_game:hover, .rutgers_info_widget:hover, .rock_paper_scissors:hover {
    opacity: 1;
} 

/*This relative position allows the labels to be applied over images*/
.hangman_img_ban, .rpg_img_ban, .trivia_img_ban, .rutgers_img_ban, .rps_img_ban {
    position: relative;
    width: 100%;
}

.banner, .banner2 {
    position: absolute;
    top: 60%;
    left: 0%;
    background-color: #4aaaa5;
    width: 100%;
    height: 15%;
    text-align: center;
    padding-top: 2%;
    color: #ffffff;
}

.banner {
    font-size: 30px;
}

.banner2 {
    font-size: 25px;
}

.contact_name, .contact_email{
    width: 25%;
}

.contact_message {
    width: 50%;
    height: 115px;
}

.name, .email, .message {
    margin: 0%;
    padding: 0%
}

.email, .message {
    padding-top: 2%;
}

.about_blurb {
    font-size: 18px;
    line-height: 30px;
}

.copyright {
    text-align: center;
    background-color: gray;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 1%;
    padding-bottom: 1.2%;
    border-top-color: #4aaaa5;
    border-top-style: solid;
    border-top-width: 5px;
}

.texture_link {
    color: #ffffff;
    font-size: 10px;
}